<div class="row">
  <div class="col-xs-6">
    {{#skills}}
      <p>{{name}}</p>
    {{/skills}}
  </div>
  <div class="col-xs-6">
  {{#character_skills}}
    <p>{{skill_value}}</p>
  {{/character_skills}}
  </div>
</div>
