<table class="table">
  <thead>
    <th>Spells</th>
    <th>Description</th>
  </thead>
  <tbody>
    {{#spells}}
      <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
      </tr>
    {{/spells}}
  </tbody>
</table>
