<div class="row">
  <div class="col-xs-6">
    <table class="table">
      <thead>
        <th>Skill</th>
      </thead>
      <tbody>
        {{#skills}}
          <tr><td>{{name}}</td></tr>
        {{/skills}}
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <table class="table">
      <thead>
        <th>Value</th>
      </thead>
      <tbody>
        {{#character_skills}}
          <tr><td>{{skill_value}}</td></tr>
        {{/character_skills}}
      </tbody>
    </table>
  </div>
</div>
