<div class="row">
  <div class="col-lg-6">
    {{#stats}}
      <p>{{name}}</p>
    {{/stats}}
  </div>
  <div class="col-lg-6">
  {{#character_stats}}
    <p>{{stat_value}}</p>
  {{/character_stats}}
  </div>
</div>
