{{#stats}}
<div class="form-group">
  <label class="col-sm-8 control-label" for={{this.id}}>{{name}}</label>
  <div class="col-sm-4">
    <input type="number" name="stat_value" id={{this.id}} class="col-s-2 form-control" placeholder="0">
  </div>
</div>
{{/stats}}
