$off-white: #f3f3f3;
$carbon-black: #272727;
$pure-black: #000;
$alien-green: #00e500;
$darker-white: #eee;

$dark-green: #236167;
$light-green: #2c8d3d;
$purpleish: #68979b;
$off-white: #fff;
$graphite: #222;
$black-ish: #080808;
